// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app.
$app-direction: ltr;


@import "ionic.globals";






// Named Color Variables
// --------------------------------------------------
$colors: (
  primary:    #6da5ff,
  secondary:  #0055af,
  danger:     #f53d3d,
  light:      #ffffff,
  dark:       #b2b2b2,
  btcollor:   orange,
  card:       #2382a5
);

$toolbar-md-background: color($colors,secondary);
$tabs-md-background:color($colors,secondary);
$tabs-md-tab-color-inactive:color($colors,dark);
$tabs-md-tab-color-active:color($colors,light);
$list-md-text-color:color($colors,light);
$list-md-background-color:color($colors,secondary);

// App Theme
@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
